* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  color: gray;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 9fr 1fr;
  grid-gap: 10px;
}

.navbar {
  display: flex;
  grid-row: 1/2;
  padding: 10px;
  font-size: 1.3em;
  border-bottom: 1px solid lightgray;
  margin: 10px;
}

nav a {
  color: lightgrey;
  padding: 5px;
  flex: auto;
  margin: 0;
}

.searchbar {
  grid-row: 2/3;
  font-size: 1.5em;
  outline: none;
  border-width: 0 0 2px 0;
  width: 500px;
  padding: 10px;
}

.images-container {
  grid-row: 3/4;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(4, 200px);
  grid-gap: 10px;
}

.image {
  object-fit: cover;
  font-family: 'object-fit: contain;';
  height: 100%;
  width: 100%;
}

/* .overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.3s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

svg {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

footer {
  color: gray;
  grid-row: 4/5;
  display: flex;
  background-color: lightgray;
  font-size: 0.8em;
  justify-content: space-between;
  margin: 1em;
}

footer span {
  margin: 0;
  padding: 5px 40px;
}

/* .image-container:hover a {
  opacity: 1;
  top: 0;
  z-index: 500;
  background: rgba(255, 255, 255, 0.5);
}

.image-container:hover a i {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.image-container a {
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit;
} */
